@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Nixie+One&display=swap');

:root{
    --bg-body:linear-gradient(180deg, rgba(117, 36, 61, 0.75) 8.33%, rgba(220, 147, 169, 0.73) 100%);
    --logo-color-animation: linear-gradient(90deg, white, #484d50,  white ,white);
}

*{
    text-align: center;
    font: 26.6px 'poppins';/*26px */
    user-select: none;
}

html{
    background: black;
    color: white;
}

body{    
    background: var(--bg-body);
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem; 
}

img{
    border-radius: 10px;
}

#logo, #ucinete_span {
    background: var(--logo-color-animation);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
    background-size: 500% 100%;
    animation: animacao_logo 10s infinite ease-in-out; 
}

#logo #L_span{
    font: 93.1px 'Nanum Myeongjo';
    font-weight: 800;
}
#logo #ucinete_span{
    font: 66.5px 'Nixie One';
    position: absolute;
    left: 52px;
}
#logo #variedades_span{
    font: 26.6px 'Nixie One';
    letter-spacing: 6.304px;
}

#opcoes{
    display: flex;
    justify-content: end;
    width: 830px;
    gap: 3rem;
    margin-top: 20px;
}

#opcoes span{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 0px 5px;
    font-size: 20px;
    height: 50px;
    width: 150px;
}

#opcoes span:nth-child(-n+3):hover::after{
    position: absolute;
    bottom: 0;
    right: 0;;
    content: "";
    height: 3.5px;
    background-color: white;
    animation: linha_animacao 0.5s ease forwards;
}

#opcoes span:nth-child(-n+3):hover{
    cursor: pointer;
}

#opcoes span:nth-child(4){
    display: flex;
    width: 256px;
}

/************************disabled************************/
#opcoes span:nth-of-type(n+2){
    color: rgba(128, 128, 128, 0.597);
}
/************************disabled************************/


header input{
    width: 228px;
    height: 31px;
    border-radius: 10px; 
    text-align: start;
    padding-left: 13px;
    font-size: 20px;
}

footer{
    text-align: end;
    font: 8pt arial;
}

@keyframes animacao_logo{
    10%{background-position: 100% 50%;}
    20%{background-position: 0% 50%;}
    35%{background-position: 100% 50%;}
}

@keyframes linha_animacao {
    from{width: 0%;}
    to{width: 100%;}
}
