<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/pageStyle.css">
    <link rel="stylesheet" href="../Style/pesquisa_roupa.css">
    <link rel="icon" href="../fotos/pexels-sharefaith-1231265.jpg">
    <script src="https://kit.fontawesome.com/a679630483.js" crossorigin="anonymous"></script>
    <title>Lucinete Variedades</title>
</head>
<body>
    <header>
        <div id="logo">
            <span id="L_span">L</span> 
            <span id="ucinete_span">UCINETE</span>
            <span id="variedades_span">Variedades</span>
        </div>
        <div id="opcoes"> 
            <span id="opRoupas"><i class="fa-solid fa-shirt" style="color: #ffffff;"></i>ROUPAS</span> 
            <span id="opPergumes"><i class="fa-solid fa-spray-can-sparkles" style="color: #ffffff;"></i>PERFUMES</span> 
            <span id="opAcessorios"><img src="../fotos/icon/icone_colar.png">ACESSÓRIOS</span>
            <span><input type="text" placeholder="Buscar"><i class="botao_pesquisa fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></span>
        </div>
    </header>

    <section>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>        
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>     
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>        
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>     
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>        
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>     
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>        
        <div><img src="../fotos/fotosBusca/pullover-penduradoBusca.jpg" alt="img1"></div>

        <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
        
    </section>   
       
    <script src="../Controller/viewController.js"></script>
</body>
</html>