<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/pageStyle.css">
    <link rel="stylesheet" href="../Style/view_roupa.css">
    <link rel="icon" href="../fotos/pexels-sharefaith-1231265.jpg">
    <script src="https://kit.fontawesome.com/a679630483.js" crossorigin="anonymous"></script>
    <title>Lucinete Variedades</title>
</head>
<body>
    <header>
        <div id="logo">
            <span id="L_span">L</span> 
            <span id="ucinete_span">UCINETE</span>
            <span id="variedades_span">Variedades</span>
        </div>
        <div id="opcoes"> 
            <span><i class="fa-solid fa-shirt" style="color: #ffffff;"></i>ROUPAS</span> 
            <span><i class="fa-solid fa-spray-can-sparkles" style="color: #ffffff;"></i>PERFUMES</span> 
            <span>ACESSÓRIOS</span> 
            <span><input type="text" placeholder="Buscar"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></span>
        </div>
    </header>

    <section>
        <div>
            <img id="img_view" src="../fotos/fotosView/pullover-pendurado_view.jpg" alt="img">
            <p>
                <div id="price">R$ 20.00</div>
            </p>
        </div>

        <div>
            <div id="descricao">
                <u>CORES DISPONÍVEIS:</u> 
                <p id="cores">
                    <input type="button" id="cor1">
                    <input type="button" id="cor2">
                    <input type="button" id="cor3">
                </p>
                <u>Tamanhos:</u>
                <div id="tamanhos">     
                    <p>        
                        <input type="radio" name="tamanho"><label for="tamanho">P</label>
                    </p>
                    <p>        
                        <input type="radio" name="tamanho"><label for="tamanho">M</label>
                    </p>
                    <p>        
                        <input type="radio" name="tamanho"><label for="tamanho">G</label>
                    </p>
                    <p>        
                        <input type="radio" name="tamanho"><label for="tamanho">GG</label>
                    </p>
                   
                </div>
                <u>Aceitamos:</u>
                <p id="cartoes">
                   <span><i class="fa-brands fa-pix" style="color: #000000;"></i>Pix</span>
                   <span><i class="fa-solid fa-credit-card" style="color: #000000;"></i>Cartão</span>
                   <span><i class="fa-regular fa-money-bill-1" style="color: #000000;"></i>Espécie</span>
                </p> 

            </div>

            <div>Gostou? fale conosco:
                <p id="phone">
                    <i class="fa-solid fa-phone" style="color: #000000;"></i>
                    (86) 9 9999 - 9999
                </p>
            </div>
        </div>
    </section>    
</body>
</html>